<section class="viewport">
    <header class="flex-stack">
      <h1 id="location">
        {{WeatherData.name}}
        <span id="summary">
            {{WeatherData.temp}}° | {{WeatherData.condit}}
        </span>
      </h1>
      <p class="flex-stack" style="--space: 0.2rem" aria-hidden="true">
        <span id="temperature" class="current-temp heading-lg">{{WeatherData.temp}}</span>
        <span id="condition">{{WeatherData.condit}}</span>
      </p>
      <ul id="range" class="cluster" role="list" style="--justify: center; --gap: 0.5rem">
        <li>H: {{WeatherData.temp_max}}°</li>
        <li>L: {{WeatherData.temp_min}}°</li>
      </ul>
    </header>
  
    <main>
  
      <article>
        <h2 id="10-day-forecast">10-day forecast</h2>
        <ol class="flex-stack" role="list" style="--space: 0.75rem">
          <li class="forecast-row">
            <span>Today</span>
            <span>☀️</span>
            <div class="range">
              <span class="low"></span>
              <div class="meter"></div>
              <span class="high">{{WeatherData.temp}}°C</span>
            </div>
          </li>
          <li class="forecast-row">
            <span>{{TenData.daylist[0]}}</span>
            <span>☁️</span>
            <div class="range">
              <span class="low"></span>
              <div class="meter"></div>
              <span class="high">{{TenData.templist[0]}}°C</span>
            </div>
          </li>
          <li class="forecast-row">
            <span>{{TenData.daylist[1]}}</span>
            <span>🌧️</span>
            <div class="range">
              <span class="low"></span>
              <div class="meter"></div>
              <span class="high">{{TenData.templist[1]}}°C</span>
            </div>
          </li>
          <li class="forecast-row">
            <span>{{TenData.daylist[2]}}</span>
            <span>☀️</span>
            <div class="range">
              <span class="low"></span>
              <div class="meter"></div>
              <span class="high">{{TenData.templist[2]}}°C</span>
            </div>
          </li>
          <li class="forecast-row">
            <span>{{TenData.daylist[3]}}</span>
            <span>☀️</span>
            <div class="range">
              <span class="low"></span>
              <div class="meter"></div>
              <span class="high">{{TenData.templist[3]}}°C</span>
            </div>
          </li>
          <li class="forecast-row">
            <span>{{TenData.daylist[4]}}</span>
            <span>☀️</span>
            <div class="range">
              <span class="low"></span>
              <div class="meter"></div>
              <span class="high">{{TenData.templist[4]}}°C</span>
            </div>
          </li>
          <li class="forecast-row">
            <span>{{TenData.daylist[5]}}</span>
            <span>☀️</span>
            <div class="range">
              <span class="low"></span>
              <div class="meter"></div>
              <span class="high">{{TenData.templist[5]}}°C</span>
            </div>
          </li>
          <li class="forecast-row">
            <span>{{TenData.daylist[6]}}</span>
            <span>☀️</span>
            <div class="range">
              <span class="low"></span>
              <div class="meter"></div>
              <span class="high">{{TenData.templist[6]}}°C</span>
            </div>
          </li>
          <li class="forecast-row">
            <span>{{TenData.daylist[7]}}</span>
            <span>☀️</span>
            <div class="range">
              <span class="low"></span>
              <div class="meter"></div>
              <span class="high">{{TenData.templist[7]}}°C</span>
            </div>
          </li>
          <li class="forecast-row">
            <span>{{TenData.daylist[8]}}</span>
            <span>☀️</span>
            <div class="range">
              <span class="low"></span>
              <div class="meter"></div>
              <span class="high">{{TenData.templist[8]}}°C</span>
            </div>
          </li>
        </ol>
      </article>
  
      <article>
        <h2 id="air-quality">Sunset</h2>
        <div class="stack">
          <p>🌅 - {{WeatherData.sunset}}</p>
          <p>The sun will set at {{WeatherData.sunset}}, towards the west.</p>
        </div>
      </article>
  
      <article class="tile">
        <h2>Feels Like</h2>
        <div class="stack">
          <p>{{WeatherData.feels_like}}°C</p>
          <p>The temperature feels like {{WeatherData.feels_like}}°C right now.</p>
        </div>
      </article>
      <article class="tile">
        <h2>Wind</h2>
        <div class="stack">
          <p>{{WeatherData.windSpeed}} KPH</p>
          <p>The wind is blowind at {{WeatherData.windSpeed}} KPH towards {{WeatherData.wind.deg}}° from North.</p>
          <!-- <div class="arrowCont">
            <div class="arrow">
              <div class="arrowHead"></div>
            </div>
          </div> -->
        </div>
      </article>
      <article class="tile">
        <h2>Pressure</h2>
        <div class="stack">
          <p>{{WeatherData.main.pressure}} hPa</p>
          <p>The wind is blowing at {{WeatherData.windSpeed}} KPH towards {{WeatherData.wind.deg}}° from North.</p>
        </div>
      </article>
      <article class="tile">
        <h2>Humidity</h2>
        <div class="stack">
          <p>{{WeatherData.main.humidity}}%</p>
          <p>The humidity level is currently at {{WeatherData.main.humidity}}%.</p>
        </div>
      </article>
  
      <footer>
        <h2>Angular Weather App</h2>
        <p><small>Created with <a href="https://angularjs.org/">Angular JS</a> and <a href="https://openweathermap.org/">OpenWeather API</a></small></p>
        <p><small>By Lohit Chhabra</small></p>
      </footer>
      <!-- Created by Lohit Chhabra -->
    </main>