<div class="locationBanner" id="locationBanner">
  <h2 class="locationBannerHeading">Allow Location Access</h2>
  <p class="locationBannerPara">By allowing location access, you agree to the terms & conditions.</p>
  <div class="locationBannerBtnGroup">
    <button class="locationBannerBtn">Decline</button>
    <button class="locationBannerBtn" (click)="locationBannerAccept()">Accept</button>
  </div>
</div>

<h1 class="text-center">Angular Weather</h1>

<div class="map-container"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
  (leafletClick)="mapClicked($event)">
</div>

<app-weatherwidget></app-weatherwidget>