/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

.text-center {
  text-align: center;
}

.map-container {
  height: 400px;
}

body {
  background-color: black;
  background-image: url('https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: repeat;
}
